html {
    display: block;
}

h1, h2, h3, h4, h5, h6, ul, ol {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    font-size: 24px;
    text-decoration: none;   
}

.recipe-card {
    height: 100%;
    width: fit-content;
}

.recipe-card img {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container.category {
    margin: 20px;
}

.category h2 {
    margin: 20px 0 20px 0;
}