html {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(188,235,203);
}

header {
    margin: 15px;
}

a {
    font-size: 24px;
    text-decoration: none;   
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 10px;
}

.recipe-card {
    background-color: rgb(247,255,246);
    height: 100%;
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 10px rgb(148, 148, 148)
}

.recipe-card img {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.recipe-header, .recipe-body {
    background-color: rgb(247,255,246);
    border-radius: 20px;
    margin: 30px;
    padding: 20px;
}


.recipe-body a, .recipe-body p, .recipe-body li {
    font-size: 18px;
}

.recipe-body li {
    margin: 15px 35px 15px 35px;
}

.recipe-body h1 {
    margin: 0 0 15px 0;
    text-align: center;
}

.recipe-body h2 {
    margin: 15px 0 15px 0;
}

.recipe-body img {
    display: block;
    margin: 0 auto 0 auto;
}

#migliaccio-img {
    height: 600px;
    width: 600px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container.category {
    margin: 20px;
}

.category h2 {
    margin: 20px 0 20px 0;
}