html {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(208, 233, 239);
}

header {
    margin: 15px;
    text-align: center;
}

a {
    font-size: 24px;
    text-decoration: none;
    color: rgb(34, 32, 32); 
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 10px;
}

.recipe-card {
    background-color: rgb(247,255,246);
    height: 100%;
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(80, 79, 79, 0.5) 0 0 20px;
}

.recipe-card:hover {
    background-color: rgb(206, 218, 208);
    height: 100%;
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(50, 49, 49, 0.5) 0 0 20px;
}

.recipe-card img {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.recipe-header, .recipe-body {
    background-color: rgb(247,255,246);
    border-radius: 20px;
    margin: 30px;
    padding: 20px;
}


.recipe-body a, .recipe-body p, .recipe-body li {
    font-size: 18px;
}

.recipe-body li {
    margin: 15px 35px 15px 35px;
}

.recipe-body h1 {
    margin: 0 0 15px 0;
    text-align: center;
}

.recipe-body h2 {
    margin: 15px 0 15px 0;
}

.recipe-body img {
    display: block;
    margin: 0 auto 0 auto;
}

#gising-gising-img {
    width: 500px;
    height: auto;
}

#migliaccio-img {
    height: 600px;
    width: 600px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container.category {
    margin: 20px;
}

.category h2 {
    margin: 20px 0 20px 0;
}